<p id="notice"><%= notice %></p>

<div class="page-header">
  <h1>All TODOs</h1>
</div>

    <% @items.each do |item| %>
    <h3>
      <%= item.item %>
      <%= link_to '<i class="fas fa-eye"></i>'.html_safe, item %>
      <%= link_to '<i class="fas fa-pen-square"></i>'.html_safe, edit_item_path(item) %>
      <%= link_to '<i class="fas fa-check-square"></i>'.html_safe, item, method: :delete, data: { confirm: 'Are you sure?' } %>
    </h3>
    <% end %>


<%= link_to '<i class="fas fa-plus"></i> New Task'.html_safe, new_item_path %>
